.nav-bar-container {
    overflow: hidden;
    position: static;
    &.scrollering {
        position: sticky;
        top: 0;
        // height: rem(0px);
    }
    background-color: lighten($clr1, 35%);
    // background-image: linear-gradient(-180deg, #1b141a 0%, #644c64 100%);

    box-shadow: $shadow2;
    width: 100%;
    z-index: 5;
    font-family: Sen;
    .nav-bar {
        padding: 0;
        .nav-link-container {
            transition: width .5s;
            
            width: 0;
            height: 0;
            visibility: hidden;
            &.open-menu {
                visibility: visible;
                background-color: #595386;
                box-shadow: 0px 0px 6px 3px black;
                // width: fit-content;
                width: rem(230px);
                height: 100vh;
                position: fixed;
                z-index: 100;
                top: 0;
                right: 0;
                a {
                    height: auto;
                    background-color: #38335d;
                    &.active {
                        background-color: lighten($clr1, 35%);
                    }
                }
            }
            @include for-mobile-layout {

                width: 80%;
                height: auto;
                visibility: visible;
                flex-direction: row;
                &.open-menu {
                    z-index: auto;
                    background-color: initial;
                    width: 100%;
                    height: auto;
                    position: initial;
                }
            }
            @include for-normal-layout {
                width: fit-content;
            }
            a {
                height: 100%;
                color: $clr3;
                font-size: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                @include for-mobile-layout {
                    justify-content: center;
                    width: 100%;
                }
                @include for-normal-layout {
                    width: fit-content;
                }
                padding: 20px;
                transition: background-color .3s,
                color .3s;
                &:hover {
                    background-color: lighten( $clr1, 40%);
                    mix-blend-mode: luminosity;

                }
                &.active {
                    background-color: lighten( $clr1, 30%);
                    mix-blend-mode: luminosity;

                    @include for-mobile-layout {
                        background-color: lighten( $clr1, 20%);
                    }
                }
                span {
                    display: inline-block;
                    margin-inline-start: 1.2ch;
                    margin-inline-end: 1ch;
                    color: $clr3;
                    font-size: 18px;
                    font-weight: 900;
                    @include for-mobile-layout {
                        display: none;
                    }
                    @include for-normal-layout {
                        display: inline-block;
                    }
                }
            }
            .categories-contianer {
                display: grid;
                @include for-mobile-layout {
                    // order: -1;
                    width: 100%;
                    img {
                        margin-inline-end: 1.2ch;
                    }
                        // span {
                        //     display: inline-block;
                        //     font-size: 16px;
                        // }
                }
                @include for-normal-layout {
                    display: none;
                }
                >a {
                    &.active {
                        box-shadow: inset 0px 1px 0px 0px $clr3;
                        @include for-mobile-layout {
                            box-shadow: inset 0px 0px 0px 0px $clr3;
                        }
                    }
                }
                overflow:auto;
                .accordion-categories {
                    @include for-mobile-layout {

                        position: fixed;
                        z-index: 101;
                        top: 0;
                        transform: translateY(84px);
                        background-color: lighten($clr1, 35%);
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        width: 100%;
                    }
                    a {
                        justify-content: flex-start;
                        width: 100%;
                        padding: 12px 8px;
                        font-size: 16px;
                        &:hover {
                           background-color: #928cbe;

                        }
                    }
                }
                img {

                    transition: .3s;
                    &.arrow-down {
                        transform: rotate(-180deg);
                    }  
                }
            } 
            .img-user-link {
                order: -1;
                @include for-mobile-layout {
                    width: 20%;
                    order: 1;
                }
                @include for-normal-layout {
                    width: 100%;
                }
                .img-user {
                    border-radius: 50%;
                    margin: 0;
                    cursor: pointer;
                    width: rem(45px);
                    height: rem(45px);
                    object-fit: cover;
                }
            }        
        }
        .hamburger {
            text-align: center;
            cursor: pointer;
            // font-family: ArchitectsDaughter;
            width: fit-content;
            padding: 10px 20px;
            display: block;
            transition: background-color .3s, color .3s;
            span {
                display: none;
                font-size: 20px;
            }
            &.open-menu {
                display: none;
            }
            &:hover {
                background-color: lighten( $clr1, 40%);
            }
            &.active {
                color: lighten($clr1, 85%);
                background-color: darken($clr2, 5%);
            }
            @include for-mini-mobile-layout {
                span {
                    display: inline-block;
                    font-size: 20px;
                }
            }
            @include for-mobile-layout {
                display: none;
            }
        }
        .logo {
            // height: 64px;
            position: relative;
            cursor: pointer;
            width: rem(80px);
            margin: 0 rem(10px);
            @include for-normal-layout {
                margin: 0;
            }
            &:hover {
                box-shadow: unset;
            }
        }
       
    }
}
