.nav-bar-container {
    // position: sticky;
    position: static;
    &.scrollering {
        position: sticky;
        top: 0;
        // height: rem(0px);
    }
    background-color: lighten($clr1, 35%);
    box-shadow: $shadow2;
    width: 100%;
    z-index: 5;
    font-family: Sen;
    .nav-bar {
        padding: 0;
        .nav-link-container {
            .categories-contianer {
                display: grid;
                @include for-mobile-layout {
                    display: none;
                }
            }
            .accodion-categories {
                a {
                    padding: 10px;
                    font-size: 16px;
                }
            }
            width: 0;
            height: 0;
            visibility: hidden;
            transition: width .5s;
            &.open-menu {
                visibility: visible;
                background-color: #38335d;
                box-shadow: 0px 0px 6px 3px black;
                // width: fit-content;
                width: rem(230px);
                height: 100vh;
                position: fixed;
                z-index: 100;
                top: 0;
                right: 0;
                a {
                    height: auto;
                }
            }
            @include for-mobile-layout {
                width: 30%;
                height: auto;
                visibility: visible;
                flex-direction: row;
                &.open-menu {
                    z-index: auto;
                    background-color: initial;
                    width: 100%;
                    height: auto;
                    position: initial;
                }
            }
            a {
                width: 100%;
                height: 100%;
                color: $clr3;
                font-size: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                @include for-mobile-layout {
                    justify-content: center;
                }
                padding: 20px;
                transition: background-color .3s,
                color .3s;
                &:hover {
                    background-color: lighten( $clr1, 40%);
                }
                &.active {
                    color: lighten($clr1, 85%);
                    background-color: darken($clr2, 5%);
                }
                span {
                    display: inline-block;
                    margin-inline-start: 1.2ch;
                    margin-inline-end: 1ch;
                    color: $clr3;
                    font-size: 22px;
                    font-weight: 900;
                    @include for-mobile-layout {
                        display: none;
                    }
                }
            }
        }
        .hamburger {
            text-align: center;
            cursor: pointer;
            // font-family: ArchitectsDaughter;
            width: fit-content;
            padding: 10px 20px;
            display: block;
            transition: background-color .3s, color .3s;
            span {
                display: none;
                font-size: 20px;
            }
            &.open-menu {
                display: none;
            }
            &:hover {
                background-color: lighten( $clr1, 40%);
            }
            &.active {
                color: lighten($clr1, 85%);
                background-color: darken($clr2, 5%);
            }
            @include for-mini-mobile-layout {
                span {
                    display: inline-block;
                    font-size: 20px;
                }
            }
            @include for-mobile-layout {
                display: none;
            }
        }
        .logo {
            // height: 64px;
            position: relative;
            cursor: pointer;
            width: rem(80px);
            margin: 0 rem(10px);
            @include for-normal-layout {
                margin: 0;
            }
            &:hover {
                box-shadow: unset;
            }
        }
        .img-user-link {
            height: 0;
            padding: 0;
            .img-user {
                margin: 0;
                cursor: pointer;
                width: rem(30px);
                height: rem(30px);
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

.arrow-down {
    transition: .3s;
    transform: rotate(-180deg);
}