.notification-container {
    // background-color: red;
    display: grid;
    gap: 10px;
    padding: 5px;
    box-shadow: $shadow1;
    .notification-preview {
        // background-color: blue;

    }
}