.around-the-world-list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    // width: 1080px;
    margin: 0 auto;
    display: flex;
    .list-card {
        position: relative;
        width: 18%;
        padding: 5px;
        // margin: 5px;
        list-style: none;
    }
    .list-projs-img-conatainer {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 58%, rgba(190, 190, 190, 1) 69%, rgba(74, 74, 74, 1) 89%);
    }
    .proj-preview-img {
        mix-blend-mode: multiply;
        border-radius: 3px;
        margin: 0;
    }
    .list-projs-country-details {
        position: absolute;
        display: flex;
        align-items: center;
        top: 55%;
        padding-bottom: 5px;
        padding-left: 5px;
        h5 {
            // margin: 0;
            margin: 0 5px;
            color: white;
            font-family: Montserrat;
        }
        .world-proj-flag {
            height: 20px;
            width: 20px;
        }
        ;
    }
}