.review-list {
    >*:not(:last-child){
        padding-bottom: rem(20px);
        border-bottom: 1px dashed;
    }

    .read-more {
        cursor: pointer;
        width: fit-content;
        padding: rem(10px);
        border-radius: 100vh;
        box-shadow: $shadow1;
        transition: color .3s, background-color .3s;
        &::after {
            content: '⇨';
            visibility: hidden;
            margin-inline-start: 2ch;
        }
        &:hover {
            color: lighten($clr2, 25%);
            background-color: lighten($clr1, 15%);
            &::after {
                visibility: visible;
            }
        }
    }
}