.msg {
    position: fixed;
    padding: rem(30px);
    border-radius: 3px;
    background-color: lighten($clr1, 15%);
    color: lighten($clr2, 35%);
    // height: 100px;
    bottom: 25px;
    right: 25px;
    width: 15ch;
    text-align: center;
    box-shadow: $shadow3;
    // transform: translate(-50%,-50%);
    z-index: 100;
    font-size: 35px;
    .close-msg-btn {
        position: absolute;
        top: 5px;
        left: 5px;
        border: none;
        border-radius: 3px;
        box-shadow: $shadow1;
        background-color: lighten($clr1, 15%);
        color: lighten($clr2, 35%);
        font-size: rem(20px);
        font-weight: 400;
        cursor: pointer;
        transition: background-color .3s;
        &:hover {
            background-color: lighten($clr2, 20%);
            color: lighten($clr1, 15%);
        }
    }
}