.home {
    margin-bottom: rem(50px);
}

.category-container {
    /* Temporary */
    // width: 1080px;
    // height: 100px;
    
    gap: 0.8rem;
    margin: 0 auto;
    padding: 5px;
    margin-top: 20px;
    
    
    display: none;
    @include for-normal-layout {
        display: grid;
        grid-template-columns: 230px 290px 230px minmax(200px, 290px);
        // grid-template-columns: 3fr 4fr 3fr 4fr;
        grid-template-rows: 200px 100px 150px 150px 200px;
        // grid-template-rows: 4fr 2fr 3fr 3fr 3fr;
        .scubaDiving {
            grid-row: 1/3;
            grid-column: 4/-1
        }
        .childcare {
            grid-row: 2/4;
            grid-column: 2/3
        }
        .education {
            grid-row: 5/6;
            grid-column: 3/4
        }
        .environmentalProtection {
            grid-row: 3/5;
            grid-column: 3/4;
            .img-tag {
                font-size: rem(15px);
            }
        }
        .animalsAndWildlife {
            grid-row: 1/2;
            grid-column: 1/3;
        }
        .farming {
            grid-row: 1/3;
            grid-column: 3/4
        }
        .humanitarian {
            grid-row: 3/5;
            grid-column: 4/-1
        }
        .healthcare {
            grid-row: 5/-1;
            grid-column: 1/2;
        }
        .sports {
            grid-row: 4/-1;
            grid-column: 2/3
        }
        .art {
            grid-row: 2/5;
            grid-column: 1/2
        }
        .humanRights {
            grid-row: 5/6;
            grid-column: 4/-1
        }
    }
    .category {
        &:hover {
            img {
                opacity: 0.8;
            }
            .img-tag {
                color: lighten($clr2, 20%);
                // background-color: lighten($clr1, 10%);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 0%, rgba(74, 74, 74, 1) 100%);
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img-tag {
            // border-radius: 3px;
            position: absolute;
            width: 100%;
            // background-color: lighten($clr4, 100%);
            // color: $clr1;
            color: $clr2;
            // color: $clr4;
            font-family: Sen;
            text-align: center;
            font-size: rem(25px);
            padding: 9px 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(74, 74, 74, 0.72) 63%, rgba(74, 74, 74, 1) 100%);
            // background-color: lighten($clr4, 10%);
            transition: 0.5;
            // border-bottom: rem(0.5px) solid lighten($clr1, 10%);
            // border-left: rem(0.5px) solid lighten($clr1, 10%);
            // border-right: rem(0.5px) solid lighten($clr1, 10%);
        }
        img {
            width: 100%;
            height: 100px;
            flex: 1;
            object-fit: cover;
            border-radius: 3px;
            position: relative;
            // mix-blend-mode: multiply;
            // filter: grayscale(0.5);
            transition: 0.3s;
        }
    }
}

.category-container>* {
    position: relative;
}

.video-bcg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 0%, rgba(74, 74, 74, 1) 100%);
    /* w3c */
}

#myVideo {
    min-width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
    mix-blend-mode: multiply;
}

.overlayText {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Sen;
    font-size: rem(80px);
    color: lighten($clr2, 10%);
    width: 100%;
    text-align: center;
    opacity: 0.9;
    /* w3c */
    h3 {
        margin: 0;
    }
    p {
        font-size: rem(20px);
    }
    .gandy {
        font-weight: bolder;
    }
}

.around-the-world-preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: rem(20px);
    // padding: 12px;
    margin-bottom: 25px;
    // display: flex;
    // padding: 0;
    // flex-wrap: wrap;
    // justify-content: center;
    // justify-content: space-between;
    // margin: 0 auto;
    // display: flex;
    .around-the-world-card {
        position: relative;
        // width: 25%;
        // padding: 5px;
        list-style: none;
    }
    .world-projs-img-conatainer {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 58%, rgba(190, 190, 190, 1) 69%, rgba(74, 74, 74, 1) 89%);
        /* w3c */
    }
    .proj-preview-img {
        width: 100%;
        mix-blend-mode: multiply;
        border-radius: 3px;
        // margin: 5px;
    }
    .world-projs-country-details {
        position: absolute;
        display: flex;
        align-items: center;
        top: 190px;
        padding-bottom: 5px;
        padding-left: 5px;
        h5 {
            margin: 0 5px 0 5px;
            color: white;
            font-family: Montserrat;
            font-size: rem(11px);
        }
        .world-proj-flag {
            height: 20px;
            width: 20px;
        }
        ;
    }
    .review-avarage-for-list {
        h4 {
            font-size: 11px;
        }
    }
}

.details-header {
    font-family: Sen;
    text-align: center;
    font-size: rem(40px);
    margin: 10px 0 0 0;
}

.walk-ways-details {
    display: flex;
    height: 200px;
    justify-content: center;
    .space {
        margin: 0 10px
    }
    h1 {
        font-family: Montserrat;
        font-size: rem(25px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    img {
        width: rem(55px);
        margin-left: 10px;
        margin-bottom: 25px
    }
    // width: 1080px;
    // margin: 0 auto;
    display: flex;
    justify-content: space-around;
}