.login-page {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Sen;
    input {
        padding: rem(15px);
        margin-bottom: rem(10px) 0;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;

    }
    .login-btn {
        font-family: Montserrat;
        padding: rem(15px);
        margin: rem(20px) 0;
        border: none;
        border-radius: 3px;
        box-shadow: $shadow1;
        background-color: lighten($clr1, 25%);
        font-size: rem(20px);
        font-weight: 400;
        transition: background-color .3s;
        cursor: pointer;
        &:hover {
            background-color: lighten($clr1, 20%);
        }
    }
    .login-link {
        color: rgb(0, 204, 255);
        cursor: pointer;
    }
    .login-card {
        // margin: rem(12px);
        padding: rem(20px);
        border-radius: 3px;
        box-shadow: $shadow1;
        margin-top: 100px;
        img {
            width: rem(30px);
        }
    }
}