@import url("//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");
.proj-edit {

    .map {
        height: 500px;
    }

    img {
        width: rem(30px);
    }

    background-color: lighten($clr2,
    40%);
    padding: rem(20px);
    width: 100vw;
    @include for-normal-layout {
        width: $break-normal;
    }
    .form-proj-edit {
        .img-proj-container {
            margin: 0 0 rem(10px);
            width: 100%;
            background-color: lighten($clr2, 40%);
            // .title-proj {
            //     display: flex;
            //     justify-content: center;
            //     align-items: flex-end;
            //     font-size: rem(40px);
            //     color: #fff;
            // }
            .img-proj {
                width: 100%;
                mix-blend-mode: multiply;
                // filter: grayscale(0.5);
            }
            .img-user {
                cursor: pointer;
                width: rem(35px);
                height: rem(35px);
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}

.tags-container {
    .tag-card {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .is-on {
        text-decoration: line-through;
    }
}