.proj-edit {

    img {
        width: rem(30px);
    }
    // local helpers (to copy?)
    input, textarea, button,  select {
        padding: rem(15px);
        margin: rem(2px);
        border: none;
        border-radius: 3px;
        box-shadow: $shadow;
        background-color: lighten($clr3, 30%);
        font-size: rem(20px);
        font-weight: 400;
        transition: background-color .3s;
        
        &:hover {
            background-color: lighten($clr3, 20%);
            
        }
    }
    button, select {
        cursor: pointer;
        background-color: lighten($clr3, 25%);       
    }

    margin: rem(110px) auto 0;
    background-color: lighten($clr2, 40%);
    padding: rem(20px);
    width: 100vw;
    @include for-normal-layout {
         width: $break-normal;
    }
    .form-proj-edit {
        
        .img-proj-container {
            margin: 0 0 rem(10px);
            width: 100%;
            background-color: lighten($clr2, 40%);
            box-shadow: $shadow;
            // .title-proj {
            //     display: flex;
            //     justify-content: center;
            //     align-items: flex-end;
            //     font-size: rem(40px);
            //     color: #fff;
            // }
            .img-proj {
                width: 100%;
                mix-blend-mode: multiply;
                filter: grayscale(0.5);
            }


        .img-user {
            cursor: pointer;
            width: rem(35px);
            height: rem(35px);
            border-radius: 50%;
            object-fit: cover;
        }
    }
    }

    .tags-container {
        
        .tag-card {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        .is-true {
            text-decoration: line-through;
        }

    }
}