.proj-details{
    margin-top: rem(110px);
    margin-bottom: rem(80px);
    @include for-normal-layout {
        margin-bottom: rem(20px);
    }
    min-height: 100vh;
    
    * {
        border-radius: 3px;
    }

   
    display: grid;

    grid-template-columns: 
        minmax(0.6rem, auto) 
        minmax(100px, 1fr) 
        minmax(0.6rem, auto);
    grid-template-rows: auto 1fr auto;

    @include for-normal-layout {
        grid-template-columns:
        minmax(0.6rem, auto) 
        minmax(100px, 1fr) 
        40vw;
    }
    @include for-wide-layout {
        grid-template-columns:
        minmax(0.6rem, auto) 
        rem(700px) 
        40vw;
    }

    
    > * {
        grid-column: 2;
    }
    

    .img-user {
        cursor: pointer;
        width: rem(35px);
        height: rem(35px);
        border-radius: 50%;
        object-fit: cover;
    }

    .img-proj-container{
        margin: 0 0 rem(10px);
        width: 100%;
        background-color: lighten($clr2, 40%);
        box-shadow: $shadow;

        .title-proj {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: rem(40px);
            color: #fff;
        }

        .img-proj {
            width: 100%;
            mix-blend-mode: multiply;
            filter: grayscale(1);
        }
    }

    .main-content-details {
        display: grid;
        gap: rem(10px);
        
        .card-deatails{
            box-shadow: $shadow;
            padding: rem(10px);
            line-height: 1.5;
            background-color: lighten($clr2, 40%);
            color: darken($clr2, 50%);
        }
        
        .map-container {
            background-color: lighten($clr2, 40%);
            .map {
                mix-blend-mode: multiply;
                filter: grayscale(1);
                width: var(--map-width, 100%);
                height: var(--map-height, 100%);
                z-index: 0;
            }
        }
    }
    .proj-apply {
        position: fixed;
        box-shadow: $shadow;
        text-transform: uppercase;
        background-color: lighten($clr2, 40%);
        color: lighten($clr1, 20%);
        height: rem(400px);
        display: none;
        
        &.apply-opened {
            display: block;
            top: 50%;
            left: 50%;
            width: rem(400px);
            transform: translate(-50%,-50%);
            // z-index: 3;
        }

        @include for-normal-layout {
            display: block;
            top: rem(110px);
            height: rem(400px);
            right: rem(25px);
            width: 35vw;

            &.apply-opened {
                top: rem(110px);
                left: auto;
                right: rem(25px);
                width: 35vw;
                transform: translate(0, 0);
            }
        }
        @include for-wide-layout {
            right: 3vw;
            width: rem(400px);

            &.apply-opened {
                right: 3vw;
                width: rem(400px);
            }

        }
    }

    .proj-apply-for-mobile {
        position: fixed;
        bottom: 0;
        background-color: lighten($clr1, 20%);
        color: lighten($clr1, 80%);
        box-shadow: $shadow;
        width: 100%;
        height: rem(60px);
        text-transform: uppercase;

        &.apply-opened {
            display: none;
        }
        
        @include for-normal-layout {
            display: none;
        }
    }
}
