.proj-list-filtered {
    margin: 0 auto;
    @include for-narrow-layout {
        flex-direction: row;
        align-items: flex-start;
    }
    position: relative;
    .main-content {
        flex-basis: 45%;
    }
    li {
        list-style: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .side-bar {
        .map {
            height: 90vw;
            @include for-mobile-layout {
                height: 60vw;
            }
            @include for-narrow-layout {
                height: 45vw;
            }
        }
        @include for-narrow-layout {
            position: sticky;
            flex-basis: 55%; 
            padding: 5px;
            top: 80px;
        }
    }
    .category-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 0%, rgba(64, 64, 64, 1) 100%);
    }
    .header {
        margin-top: 5px;
        .category-header-title {
            color: white;
            font-family: Sen;
            font-size: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            /* width: 500px; */
        }
        .category-header-desc {
            font-family: Montserrat;
            padding: 5px;
            line-height: 1.5;
            letter-spacing: 0.3px;
            border-bottom: 0.5px solid lightgrey;
            justify-content: end;
            color: white;
            padding: 5px;
            padding-left: 10px;
        }
        img {
            width: 100%;
            /* height: 10% ; */
        }
    }
}