.proj-details-container {
    .proj-details {
        min-height: 100vh;
        >* {
            margin-bottom: rem(80px);
            border-radius: 3px;
        }

        .main-content-details-contianer {
            color: darken($clr2, 50%);
            // box-shadow: $shadow1;
            margin: rem(10px) 0;
            
            .title-proj {
                font-family: Sen;
                font-size: rem(40px);
                padding: rem(10px);
             }
            .img-proj-container {
                .el-carousel__container {
                    height: 93%;
                    border-radius: 5px;
                }
                img {
                    border-radius: 5px;
                    width: 100%;
                }
                .el-carousel__arrow {
                    background-color: #ffffffa3;
                    color: #000;
                    box-shadow: $shadow3;
                    width: 60px;
                    height: 60px;
                }
            }
            .user-profile-for-details {
                .avatar {
                    margin-inline-start: 40px;
                    margin-inline-end: 2ch;
                    transition: opacity .3s;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                p {
                    font-size: 25px;
                    margin: 10px 0 0;
                    opacity: 0.6;
                }
                p:first-child {
                    font-size: 40px;
                    margin: 0;
                    opacity: 1;
                }
            }
            .main-content-details {
                font-family: Montserrat;
                line-height: 1.5;
                display: grid;
                gap: 0px;
                > * {
                    &.review-avarage {
                        padding: rem(20px) rem(30px) rem(20px) rem(15px);
                    }
                    
                    p {
                            margin-inline-start: 30px;
                            padding: rem(7px) rem(30px) rem(7px) rem(15px);
                            overflow-wrap: break-word;
                            font-size: 22px;
                        }
                        ul {
                            margin-inline-start: 38px;
                        li {
                            span {
                                padding: 15px 0;
                                margin-inline-start: 2ch;
                                font-size: 22px;
                                font-weight: 600;
                            }
                        }
                    }
                    h3 {
                        // font-size: 20px;
                        font-weight: 900;
                        // margin: 0;
                        // padding: rem(20px) rem(30px) rem(20px) rem(15px);
                        cursor: pointer;
                        width: 100%;
                        transition: opacity .3s;
                        &:hover {
                            opacity: .5;
                            // img:last-child {
                            //     transform: rotate(30deg);
                            // }
                        }
                        img:last-child {
                            transition: .3s;
                            float: right;
                            &.arrow-down {
                                transform: rotate(180deg);
                            }  
                        }
                    }

                }
            }
        }
       
        .map-container {
                background-color:lighten($clr1, 55%);
                // mix-blend-mode: multiply;
                filter: grayscale(0.8);
            .img-on-map-container {
                position: absolute;
            }
            .map {
                height: 70vw;                    
                @include for-normal-layout {
                    height: 45vw;
                }
            }
        }
       
    }

    .reviews-container {
        // box-shadow: $shadow1;
        // padding: rem(10px);
        // border-radius: 3px;

    }

    .proj-apply {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        visibility: hidden;
        width: 0;
        transition: width .3s, visibility .1s;
        z-index: 5;
        box-shadow: $shadow3;
        text-transform: uppercase;
        background-color: #434252;
        color: $clr3;        
        &.apply-open {
            visibility: visible;
            width: 100%;
            @include for-mobile-layout {
                width: 500px;
            }
        }
    }

    
    .proj-apply-for-mobile {
       
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        bottom: 0;
        left: 0;
        // background-color: #ff9f2a;  
        // color: #fff8f0; 
        background-color: #68667a;
        color: $clr3;   
        width: 100%;
        text-transform: uppercase;
        &:hover {
            // background-color: #c27c28;
            background-color: #85849b;
            box-shadow: $shadow3;
        }
        &.apply-open {
            display: none;
        }
        @include for-mobile-layout {
            display: none;
        }
    }
    .edit-link-container {
        display: none;
        @include for-mobile-layout {
            display: flex;
        }
        position: fixed;
        bottom: rem(25px);
        justify-content: flex-end;
        align-items: flex-end;
        height: 0;
        z-index: 10;
        >* {
            cursor: pointer;
            padding: 20px;
            text-transform: uppercase;
            border-radius: 50px;
            transition: .3s;
            // background-color: #ff9f2a;  
            // color: #fff8f0;          
            background-color: #68667a;
            color: $clr3;            
            box-shadow: $shadow2;
            &:hover {
                // background-color: #c27c28;
                background-color: #85849b;
                box-shadow: $shadow3;
            }
        }
        > span {
            font-size: 32px;
            &.apply-open {
                display: none;
            }
        }
    }
}