* {
    box-sizing: border-box;
}

*::selection {
    background-color: $clr2;
    color: $clr4;
}

html {
    scroll-behavior: smooth;
    // font-family: Montserrat, sans-serif;
    // color: $clr2;
    // text-align: center;
    // line-height: 1.9;
}

body {
    margin: 0;
    background-color: lighten($clr3, 30%);
}

::-webkit-scrollbar {
    display: none;
}

.example::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: initial;
}

#app {
    min-height: 100vh;
}

input,
textarea,
button,
select {
    font-family: Montserrat;
    padding: rem(15px);
    margin: rem(2px);
    border: none;
    border-radius: 3px;
    box-shadow: $shadow1;
    background-color: lighten($clr3, 30%);
    font-size: rem(20px);
    font-weight: 400;
    transition: background-color .3s;
    &:hover {
        background-color: lighten($clr3, 20%);
    }
}

textarea {
    resize: none;
}

button,
select {
    cursor: pointer;
    background-color: lighten($clr3, 25%);
}

.img-profile {
    cursor: pointer;
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    object-fit: cover
}