* {
    box-sizing: border-box;
}

*::selection {
    background-color: lighten($clr1, 15%);
    color: lighten($clr2, 25%);
}

html {
    scroll-behavior: smooth;
    // font-family: Montserrat, sans-serif;
    // color: $clr2;
    // text-align: center;
    // line-height: 1.9;
}

body {
    margin: 0;
    background-color: lighten($clr2, 20%);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Montserrat;
}

h1,
h2 {
    text-transform: uppercase;
}

p {
    font-family: sen;
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}

.example::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: initial;
}

ul {
}

li {
    // padding: 0;
    // margin: 0;
    list-style: none;
}

#app {
    min-height: 100vh;
}

input,
textarea,
button,
.btn-span,
select {
    font-family: Montserrat;
    border: none;
    border-radius: 3px;
    box-shadow: $shadow1;
    background-color: lighten($clr2, 30%);
    font-size: rem(20px);
    font-weight: 400;
    transition: background-color .3s;
    &:hover {
        // background-color: lighten($clr3, 20%);
    }
}

.el-range-input,
.el-select__input,
.el-picker-panel__icon-btn {
    background-color: initial;
    box-shadow: none;
    &:hover {
        background-color: initial;
    }
}

textarea,
.el-textarea__inner {
    resize: none;
    font-size: rem(16px);
}

button,
.btn-span,
select {
    cursor: pointer;
    background-color: lighten($clr2, 21%);
}

.img-profile {
    cursor: pointer;
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    object-fit: cover
}

.btn-img {
    width: 20px;
    cursor: pointer;
}

.el-rate-avarage {
    font-weight: bold;
}

.total-reviews::before {
    content: '|';
    margin: 0 1ch;
}


.proj-preview-card {
    border-radius: 5px;
    // box-shadow: $shadow1;
    background-color: lighten($clr2, 25%);
    cursor: pointer;


    .proj-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
    }

    .proj-contnet {
        padding: rem(10px);
        height: 150px;

        h4 {
          margin: 0 0 10px;
        }
        
        h5 {
          margin: 0;
          padding: 0;
        }
    
        .review-avarage {
          margin: 10px 0 0;
        }
    }

    .world-details {
        margin: 10px 0 0;
        display: flex;
        align-items: center;
        height: 25px;
        img {
            width: rem(18px);
        }

        :nth-child(2) {
            margin: 0 1ch;
        }
    }
    
}



// READ & SHOW MORE
.show-more {
    cursor: pointer;
    width: fit-content;
    padding: rem(10px);
    border-radius: 100vh;
    box-shadow: $shadow1;
    transition: color .3s, background-color .3s;
    &::after {
        content: '⇨';
        visibility: hidden;
        margin-inline-start: 2ch;
    }
    &:hover {
        color: lighten($clr2, 25%);
        background-color: lighten($clr1, 15%);
        &::after {
            visibility: visible;
        }
    }
}