* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: lighten($clr1, 15%);
    color: lighten($clr2, 25%);
}

html {
    scroll-behavior: smooth;
    // font-family: Montserrat, sans-serif;
    // color: $clr2;
    // text-align: center;
    // line-height: 1.9;
}

body {

    margin: 0;
    background-color: lighten($clr2, 20%);
    // background-image: linear-gradient(180deg, #31052c 0%, #041f23 100%);
    // color: #fffcd3;
    .screen {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lighten($clr1, 20%);
        opacity: 0;
        visibility: hidden;
    }
    &.menu-open, &.vidoe-open, &.apply-open, &.notifications-open, &.loading-active {
        // .home {
        //     transform: translateX(-80px);
        //     transition: all 0.3s ease 0s;
        //     overflow: hidden;
        // }
        .screen {
            transition: opacity .3s;
            opacity: 0.8;
            visibility: visible;
        
        }
    }
}



h1,
h2,
h3,
h4,
h5 {
    font-family: Montserrat;
}

h1,
h2 {
    text-transform: uppercase;
}

p {
    font-family: sen;
    font-size: 18px;
}

::-webkit-scrollbar {
    display: none;
}

.example::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: initial;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

#app {
    min-height: 100vh;
}

.strong {
    font-weight: bolder;
}

input,
textarea,
button,
.btn-span,
select {
    font-family: Montserrat;
    border: none;
    border-radius: 3px;
    box-shadow: $shadow1;
    background-color: lighten($clr2, 30%);
    font-size: rem(20px);
    font-weight: 400;
    transition: background-color .3s;
    &:hover {
        background-color: lighten($clr3, 20%);
    }
}

.el-range-input,
.el-select__input,
.el-picker-panel__icon-btn {
    background-color: initial;
    box-shadow: none;
    &:hover {
        background-color: initial;
    }
}

textarea,
.el-textarea__inner {
    resize: none;
    font-size: rem(16px);
}

button,
.btn-span,
select {
    cursor: pointer;
    background-color: lighten($clr2, 21%);
}

.img-profile {
    cursor: pointer;
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    object-fit: cover
}

.btn-img {
    width: 20px;
    cursor: pointer;
}

.el-rate-avarage {
    font-weight: bold;
}

.total-reviews::before {
    content: '|';
    margin: 0 1ch;
}


.proj-preview-card {
    border-radius: 5px;
    width: 100%;
    // box-shadow: $shadow1;
    // background-color: #242424;;
    background-color: lighten($clr2, 25%);
    cursor: pointer;
    height: 100%;

    .fully-booked{
        top:-9%;
        left:7%;
        width:80%;
        position: absolute;
        z-index: 1;
        transform: rotate(10deg);

    }

    .isError {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .proj-img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
    }

    .proj-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding: rem(10px);
        // height: 40%;
        padding: 5px 8px;
       
        h4 {
          margin: 0 0 10px;
        }
        
        h5 {
          margin: 0;
          padding: 0;
        }
    
        .review-avarage {
          margin: 10px 0 0;
        }
    }

    .world-details {
        margin: 10px 0 0;
        display: flex;
        align-items: center;
        height: 25px;
        img {
            width: rem(18px);
        }

        :nth-child(2) {
            margin: 0 1ch;
        }
    }
    
}



// READ & SHOW MORE
.see-all {
    justify-content: flex-end;
    a {

        // margin-top: 12px;
        // margin-inline-end: 12px;
        p {
            margin: 8px 0;
            font-size: 22px;
            color: #6a86e0;
            text-transform: capitalize;
        }
        img {
            width: 30px;
            margin-inline-start: 1.4ch;
        }
        cursor: pointer;
        width: fit-content;
        padding: rem(15px) rem(30px);
        // border-radius: 100vh;
        // color: $clr3;
        // color: #e3f2ff;
        // background-color: #5550760a;
        // transition: color .3s, background-color .3s;
        &:hover {
            // background-color: aliceblu
        }

    }
}

.save-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    z-index: 10;
}
.proj-preview-carousel-desktop {

    .el-carousel__arrow {
        color: #000;
        background-color: #ffffffa3;
        box-shadow: $shadow3;
        width: 40px;
        height: 40px;
        top: 25%;
    }
}
.el-carousel__arrow {
    display: none;
}

.multi-img {
    .el-carousel__arrow {
        display: block;
    }
}

// .h1-l {@include h1-l;}
// .h1-s {@include h1-s;}
// .h2 {@include h2;}
// .h3 {@include h3;}
// .p1 {@include p1;}
// .p2 {@include p2;}
// .my-btn {
//     @include my-btn;
//     &.btn1 {@include btn1;};
//     &.btn2 {@include btn2;};
//     &.btn3 {@include btn3;};
// }
// .my-form { @include my-form; }
// .my-textarea { @include my-textarea; }
