
// COLOR PALETTE

$clr1: #12130F;
$clr2: rgb(146, 238, 245);
$clr3: rgb(107, 243, 255);
$clr4: #EAE6E5;
$clr5: #8F8073;


// BOX-SHADOW

$shadow1: 0px 0px 2px 1px #00000026;
$shadow2: 0px 0px 3px 1px #00000026;
$shadow3: 0px 0px 4px 1px #00000026;



// LAYOUT BREAKPOINTS

$break-narrow: 960px;
$break-normal: 1080px;
$break-wide: 1200px;


