
// COLOR PALETTE

$clr1: #12130F;
$clr2: rgb(146, 238, 245);
$clr3: rgb(107, 243, 255);
$clr4: #EAE6E5;
$clr5: #8F8073;


// BOX-SHADOW

$shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);


// LAYOUT BREAKPOINTS

$break-narrow: 960px;
$break-normal: 1080px;
$break-wide: 1200px;


